@charset "UTF-8";

body{
    background-color: rgb(145, 145, 145);
    font-family: inherit;
    font-size: 20px;
}

h1{
    color: darkslategrey;
    background-color: rgb(144, 229, 255);
}

h2{
    color: darkred;
}
 
p{
    text-align: justify;
}